<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta "charset=UTF-8" />
  <title>GOALS... Peter Johnson </title>
	<link rel="stylesheet" media="screen" type="text/css" href="goals.css" />
</head>
<body>
	<div id="menu">
		<h1><a href=".\index.html">GOALS</a></h1>
		<div>
			<ul>
				<li><a href="../index.html">HOME</a></li>
				<li><a href="components/experiance/experiance.html">EXPERIANCE</a></li>
				<li><a href="components/interests.html">INTERESTS</a></li>
				<li><a href="goals.html">GOALS</a></li>
			</ul>
		</div>
	</div>
		<div id="cont"><div class="box large left">
	<h2>GOALS</h2>
My #1 goal is to be able to create a web app with ease... plain and simple.
I also want to get exposed to different development methodologies that can
help me more understand this ever changing world of of web development.
</body>
</html>
