<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta "charset=UTF-8" />
  <title>EXPERIENCE... Peter Johnson </title>
	<link rel="stylesheet" media="screen" type="text/css" href="experience.css" />
</head>
<body>
	<div id="menu">
		<h1><a href=".\index.html">EXPERIENCE</a></h1>
		<div>
			<ul>
				<li><a href="../index.html">HOME</a></li>
				<li><a href="experiance.html">EXPERIENCE</a></li>
				<li><a href="'../components/interests/interests.html">INTERESTS</a></li>
				<li><a href="../components/goals/goals.html">GOALS</a></li>
			</ul>
		</div>
	</div>
		<div id="cont"><div class="box large left">
	<h2>EXPERIENCE</h2>
I have been working in software for about 5 years as a QA Engineer. Ive spent
my time testing everything from webapps to embeded systems. Nothing makes me
more excited then a well devloped web application. My coding experiance is
mostly in web automation tests using java/python.
</html>
