<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta "charset=UTF-8" />
  <title>INTERESTS... Peter Johnson </title>
	<link rel="stylesheet" media="screen" type="text/css" href="interests.css" />
</head>
<body>
	<div id="menu">
		<h1><a href=".\index.html">INTERESTS</a></h1>
		<div>
			<ul>
				<li><a href="../index.html">HOME</a></li>
				<li><a href="/components/experiance/experiance.html">EXPERIANCE</a></li>
				<li><a href="interests.html">INTERESTS</a></li>
				<li><a href="/components/goals/goals.html">GOALS</a></li>
			</ul>
		</div>
	</div>
		<div id="cont"><div class="box large left">
	<h2>INTERESTS</h2>
Theres alot of things that are interesting to me at any given time, but the
things that get my most attention are things that help me progress my knownledge.
That could be learning how to code more effeicently or it could be how to build
a deck. I like things that challenge me...
</body>
</html>
